<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS activation mail</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: azure;
        color: black;
      }
      a {
        color: black;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      .emai-wrapper {
        max-width: 600px;
        max-width: 0 auto;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 12px 24px;
      }
      .but {
        background-color: #0070f3;
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>WELCOME TO LMS</h1>
      </div>
      <div class="email-body">
        <p>hello <%= user.name %></p>
        <p>Thanks for registaring, please use the following activate code:</p>
        <h2><%= activationCode %></h2>
        <p>please enter this code on the actate page the next 5 minutes</p>
      </div>
      <div class="email-footer">
        <p>if you have any Q<a href="mailto:bouiskachraf7@gmail.com">LMS</a></p>
      </div>
    </div>
  </body>
</html>
